h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-black: #2F3833;
  --color-grey: #6F8579;
  --color-off-white: #F7FFF6;
  --color-light-gray: #ECF3EB;
  --color-green-primary: rgba(83, 190, 127, 1);
  --color-green-secondary: rgba(92, 154, 118, 1);
  --color-green-primary-translucent: rgba(83, 190, 127, 0.5);
  --color-green-secondary-translucent: rgba(92, 154, 118, 0.5);
  --color-green-accent: #bcebcb;
  --button-border-radius: 12px;

  --color-one: #175234;
  --color-two: #286149;
  --color-three: #3A5949;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1000px;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;

  /* min-width: 320px;
  min-height: 100vh; */
  /* background-color: #2BAE66; */
  background-color: #5c9a76;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%2353be7f' fill-opacity='0.27' fill-rule='evenodd'/%3E%3C/svg%3E");
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--button-border-radius);
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #185c36;
  color: white;
}
/* button:hover {
  border-color: white;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2rem;
}

#app {
  /* width: 100%; */
  width: 100%;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz {
  background-color: var(--color-light-gray);
  height: fit-content;
  max-height: 100wh;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}